@{
    ViewData["Title"] = "About Us Page";
}


<div class="row">
    <div class="col-md-4">
        <img src="~/images/mj winner Image - About Us.jpg" alt="mj winner Image - About Us" width="500" style="margin:10px 5px 5px 10px;" />
    </div>
    <div class="col-md-8">
        <p style="margin:10px 5px 5px 20px; font-size:larger; font-weight:500;">
            Unlock the power of data with our basketball prediction tool! Using advanced formulas and complex data models, our platform empowers you to predict game results between any teams—home or away. Dive into detailed team analysis and make smarter, data-driven predictions today
        </p>
    </div>
</div>
