@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/images/kawhi shot Image- home page.jpg" alt="kawhi shot Image- home page" width="500" style="margin:10px 5px 5px 20px;" />
        <img src="~/images/mj trophy Image - home page.jpg" alt="mj trophy Image - home page" width="500" style="margin:10px 5px 5px 20px;" />
    </div>
    <div class="col-md-8">
        <p style="margin: 10px 5px 5px 20px; font-size:larger;font-weight:500;">
            add your text here
        </p>
    </div>
</div>

